@font-face {
  font-family: 'Gothic_A1';
  src: url('./fonts/Gothic_A1/GothicA1-Regular.ttf');
}

@font-face {
  font-family: 'Actor';
  src: url('./fonts/Actor/Actor-Regular.ttf');
}

body {
  margin: 0;
  background-color: #e7e7e7;
}
